openapi: 3.2.0
info:
  title: Agromonitoring Agro NDVI History Satellite Imagery API
  description: Agromonitoring provides satellite imagery, vegetation indices (NDVI, EVI, EVI2, DSWI, NDWI, NRI), weather data, soil analysis, and crop monitoring APIs for precision agriculture. Based on processing satellite data from Landsat 8 and Sentinel-2, the Agro API enables developers to build agricultural monitoring applications with real-time and historical crop, weather, and soil data. Authentication is via API key appended to all requests.
  version: '1.0'
  contact:
    url: https://agromonitoring.com
  x-generated-from: documentation
servers:
- url: https://api.agromonitoring.com/agro/1.0
  description: Agromonitoring Agro API v1.0
security:
- ApiKeyQuery: []
tags:
- name: Satellite Imagery
  description: Access satellite imagery and vegetation index data
paths:
  /image/search:
    get:
      operationId: searchSatelliteImages
      summary: Agromonitoring Search Satellite Images
      description: Searches for available satellite imagery for a polygon within a date range. Returns image metadata including cloud coverage and vegetation indices from Landsat 8 and Sentinel-2 satellites.
      tags:
      - Satellite Imagery
      parameters:
      - name: polyid
        in: query
        description: Polygon identifier to search imagery for.
        required: true
        schema:
          type: string
          example: poly-500123
      - name: start
        in: query
        description: Start date for imagery search (Unix timestamp).
        required: true
        schema:
          type: integer
          example: 1700000000
      - name: end
        in: query
        description: End date for imagery search (Unix timestamp).
        required: true
        schema:
          type: integer
          example: 1712000000
      - name: appid
        in: query
        description: API key for authentication.
        required: true
        schema:
          type: string
          example: YOUR_API_KEY
      responses:
        '200':
          description: List of available satellite images for the polygon and date range.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SatelliteImage'
              examples:
                SearchSatelliteImages200Example:
                  summary: Default searchSatelliteImages 200 response
                  x-microcks-default: true
                  value:
                  - dt: 1709000000
                    source: Sentinel-2
                    cl: 5.2
                    stats:
                      ndvi:
                        min: 0.1
                        max: 0.85
                        mean: 0.62
                        median: 0.65
                        std: 0.12
                    image:
                      truecolor: https://api.agromonitoring.com/agro/1.0/image/1/truecolor
                      falsecolor: https://api.agromonitoring.com/agro/1.0/image/1/falsecolor
                      ndvi: https://api.agromonitoring.com/agro/1.0/image/1/ndvi
        '401':
          description: Unauthorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ErrorResponse:
      type: object
      title: Error Response
      description: Standard error response.
      properties:
        cod:
          type: integer
          description: Error code.
          example: 401
        message:
          type: string
          description: Error message.
          example: Invalid API key.
    SatelliteImage:
      type: object
      title: Satellite Image
      description: Satellite imagery metadata with vegetation index statistics.
      properties:
        dt:
          type: integer
          description: Acquisition date as Unix timestamp.
          example: 1709000000
        source:
          type: string
          description: Satellite source (Sentinel-2 or Landsat-8).
          enum:
          - Sentinel-2
          - Landsat-8
          example: Sentinel-2
        cl:
          type: number
          format: double
          description: Cloud coverage percentage for this image.
          example: 5.2
        stats:
          type: object
          description: Vegetation index statistics for the polygon.
          properties:
            ndvi:
              $ref: '#/components/schemas/VegetationStats'
        image:
          type: object
          description: URLs to image tiles (truecolor, falsecolor, ndvi).
          properties:
            truecolor:
              type: string
              description: URL to the true color image tile.
              example: https://api.agromonitoring.com/agro/1.0/image/1/truecolor
            falsecolor:
              type: string
              description: URL to the false color image tile.
              example: https://api.agromonitoring.com/agro/1.0/image/1/falsecolor
            ndvi:
              type: string
              description: URL to the NDVI image tile.
              example: https://api.agromonitoring.com/agro/1.0/image/1/ndvi
    VegetationStats:
      type: object
      title: Vegetation Stats
      description: Zonal statistics for a vegetation index over a polygon.
      properties:
        min:
          type: number
          format: double
          description: Minimum index value in the polygon.
          example: 0.1
        max:
          type: number
          format: double
          description: Maximum index value in the polygon.
          example: 0.85
        mean:
          type: number
          format: double
          description: Mean index value.
          example: 0.62
        median:
          type: number
          format: double
          description: Median index value.
          example: 0.65
        std:
          type: number
          format: double
          description: Standard deviation of index values.
          example: 0.12
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: appid
      description: API key obtained by registering at agromonitoring.com. Append appid=YOUR_API_KEY to all API requests.
